@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    font-family: 'Nunito';
}
.font-nunito {
    font-family: 'Nunito';
}
.btn {
    text-transform: capitalize !important;
}